*{}

div#gridEmployee {
    width: 100%;
}

.selected-row{
    background: rgb(207, 248, 246);
}

.formContent{
    width: 600px;
    height: 450px;
    background: white;
    padding: 20px;
    border-radius: 4px;
}
.selected-menu-row{
    background: rgb(83, 149, 236);
}